<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
<header th:fragment="header" class="pico container">
    <nav>
        <ul>
            <li><strong>BiblioTrack</strong></li>
            <li class="nav-item">
                <a class="nav-link contrast button" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link contrast button" th:href="@{/search}">Search</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''ADMIN'')')}">
                <a class="nav-link contrast button" th:href="@{/admin}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link contrast button" th:href="@{/my-library}">My Library</a>
            </li>
        </ul>
        <div class="login-container">
            <div th:if="${not #authorization.expression('isAuthenticated()')}">
                <div class="login-button">
                    <form th:action="@{/login}" method="get">
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <div class="logout-button">
                    <form action="/logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
