<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
<header th:fragment="header" class="pico container">
    <nav>
        <ul>
            <li><strong>BiblioTrack</strong></li>
            <li class="nav-item">
                <a class="nav-link contrast button" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link contrast button" href="search">Search</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
