<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="container">
        <p>Something went wrong...</p>
        <p th:text="${exception}" ></p>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>