<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin-Center</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <h2>User Table</h2>
        <div th:if="${operationUnsuccessful}" class="alert alert-danger" th:text="${operationUnsuccessful}"></div>
        <table>
            <thead>
            <tr>
                <th scope="col">User-ID</th>
                <th scope="col">Username</th>
                <th scope="col">Role(s)</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <span th:each="role : ${user.authorities}" th:text="${role.authority}"></span>
                    </td>
                    <td>
                        <form th:action="@{'/admin/delete_user/' + ${user.id}}" th:method="post">
                            <button type="submit" th:if="${user.username != loggedInUsername}">Delete User</button>
                            <button type="submit" th:if="${user.username == loggedInUsername}" disabled>Delete User</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>