<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BiblioTrack</title>
    <link  th:replace="~{fragments/css-framework :: pico}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main class="container">
        <h1 class="pico">Welcome to my capstone project! - BiblioTrack</h1>
        <h3>A small app to keep track of your books.</h3>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>