<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <main>
        <h2>Login</h2>
        <h2>User Registration</h2>
        <form th:action="@{/register}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <p th:if="${usernameErrorMessage}" th:text="${usernameErrorMessage}"></p>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <p th:if="${passwordErrorMessage}" th:text="${passwordErrorMessage}"></p>
            <button type="submit">Register</button>
        </form>
        <div class="back-button">
            <a th:href="@{/}">Back</a>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>