<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review Form</title>
    <link  th:replace="~{fragments/css-framework :: pico}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main class="container">
        <h1>Write a review</h1>

        <div class="container">
            <h3 th:text="${bookInfo.title}"></h3>
            <p th:text="${bookInfo.isbn}"></p>
            <div>
                <ul style="list-style-type:none;">
                    <li th:each="author : ${bookInfo.authors}" th:text="${author.name}"></li>
                </ul>
            </div>
        </div>

        <form th:action="@{/my-library/review-form/submit-review}" th:method="post" th:object="${reviewForm}">

            <label for="rating">Rating (1-5):</label><br>
            <select id="rating" name="rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>

            <label for="review">Review:</label><br>
            <textarea id="review" name="review" rows="4" cols="50" required></textarea><br><br>

            <button type="submit">Submit</button>
        </form>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>