<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <main>
        <section>
            <form th:action="@{/search}" th:object="${searchFormData}" method="post">
                <label for="searchCriteria">Search by:</label>
                <div role="search" class="form-group">
                    <select id="searchCriteria" name="searchCriteria" class="form-control">
                        <option value="all">All</option>
                        <option value="isbn">ISBN</option>
                        <option value="author">Author</option>
                        <option value="title">Title</option>
                    </select>
                    <input type="text" id="searchString" name="searchString" placeholder="Search for a book..." class="form-control">
                    <button type="submit" class="btn btn-primary">Search!</button>
                </div>
            </form>
        </section>

        <div>
            <h3 th:unless="${searchResults.isEmpty()}">Search Results</h3>
            <p th:unless="${searchResults.isEmpty()}">Total items found: <span th:text="${totalItemsFound}"></span></p>
            <div>
                <div class="col-lg-12">
                    <div th:if="${searchResults}">
                        <!-- Loop through search results -->
                        <div th:each="item : ${searchResults}">
                            <article class="card grid">
                                <img
                                        th:src="${item.thumbnail} ? ${item.thumbnail} : 'Thumbnail not found' "
                                        alt="Thumbnail"
                                        class="card-img-top"
                                        width="100"
                                        height="141"
                                >
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${item.title}"></h5>
                                    <div th:each="author : ${item.authors}">
                                        <p class="card-text" th:text="${author}"></p>
                                    </div>
                                    <small class="text-muted" th:text="${item.publisher != null} ? ${item.publisher} : 'unknown' + ' (' + ${item.publishedDate} + ')'"></small>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>